* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Aptos, Helvetica, sans-serif;
}


.spacer {
    height: 20px;
}

/* Header styles */

.buttonwrap {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 2;
}

.header {
    position: fixed;
    top:  0;
    height: 100px;
    width: 100%;
    background-color: #ffffff;
    padding: 1rem;
    display: block;
}

.doctitle {
    text-align: center;
}

.headerinner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.logoblock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ABSTRACTlogo, .clientlogo img {
    width: 6rem;
}

/* Middle styles */


.middle {
    position: relative;
    top: 100px;
    overflow: hidden;
    padding: 1rem;
}

/* Session overview table */

.sessionoverviewtable {
    border-collapse: collapse;
    width: 100%;
}

.sessionoverview table, th, td, tr {
    border: 1px solid #76a69a;
    padding: 0.3em;
}

.sessionoverviewtable th {
    text-align: left;
    background-color: #d4ece6;
}

/* Overall Pie Charts */

.overallexperiencecontainer {
    text-align: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 1px solid #d4ece6;
}

.overalltitle {
    background-color: #d4ece6;
    padding: 1rem;
}

.overallpiecontainer {
    display: flex;
    justify-content: space-evenly;
    gap: 1.5rem;
}

.pie1,.pie2,.pie3,.pie4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.piechart1,.piechart2,.piechart3,.piechart4 {
    width: 150px;
    height: 150px;
}

#doughnut1, #doughnut2 {
    margin-top: 10px;
}

.piecontainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.doughtext {
    position: absolute;
    padding-top: 0.3em;
    font-size: 40pt;
    z-index: 1;
}


.doughchart {
    margin-left:auto;
    margin-right:auto;
    height: 150px;
    width: 150px;
}

.NPSsvgFront {
    position: absolute;
    height: 80%;
    width: 80%;
}

.NPSsvgBG {
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 0.55em;
}

/* Facilitator Experience, Learning & Confidence*/

.facilexperiencecontainer {
    break-after: always;
    page-break-after:always;
    border: 1px solid #bcdff3;
    height: 350px;
    gap: 1rem;
}

.lccontainer {
    border: 1px solid #fee9b4;
    height: 300px;
    gap: 0.1rem;
}

.facilexperiencecontainer,
.lccontainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    break-inside: avoid;
    page-break-inside: avoid;
    align-items: center;
}

.faciltitle {
    background-color: #bcdff3;
    padding: 1rem;
    width: 100%;
}

.lctitle {
    background-color: #fee9b4;
    padding: 1rem;
    width: 100%;
}

.lcheadline {
    padding: 0.2rem;
    font-size: 14pt;
}

/* Bar Chart Styles */

.overallbarcontainer{
    position: relative;
    width: 750px;
    height: 250px;
}

.lcbarcontainer {
    position: relative;
    width: 750px;
    height: 190px;
}

.lccontainer.lccell {
    height: 238px;
    border-top: 0;
}

.pbreak {
    break-after: always;
    page-break-after: always;
}


/* Delegate Feedback */

.feedbackcontainer {
    
    display: flex;
    flex-direction: column;
    break-inside: avoid;
    page-break-inside: avoid;
    align-items: center;
    border: 1px solid #f9cacf;
}

.feedbackcell {
    width: 100%;
    border-bottom: 1px solid #f9cacf;
    padding: 1em;
}

.feedbacktitle {
    text-align: center;
    background-color: #f9cacf;
    padding: 1rem;
    width: 100%;
}

.footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #94cfc0;
    margin: 0;
    left: 0;
}



@page {
    margin: 0;
    
    size: 210mm 297mm;
    
}

@media print {



    #PDFGO {
        display: none;
    }

    .pbreak2 {
        page-break-inside: avoid;
        break-inside: avoid;
    }

    .feedbackcontainer {
        page-break-inside: avoid;
        break-inside: avoid;
    }

    .middle {
        /* background-color: red; */
        padding-top: 50px;
        
    }


}
