* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header styles */

.header {
    position: fixed;
    top:  0;
    height: 100px;
    width: 100%;
    background-color: aqua;
    padding: 0.5rem;
}

.doctitle {
    text-align: center;
}

.headerinner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.logoblock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ABSTRACTlogo, .clientlogo img {
    width: 6rem;
}



.middle {
    position: relative;
    top: 100px;
    max-height: 20cm;
    overflow: hidden;
}




.footer {
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: aqua;
}

.pagetable {
    break-after: always;
}

@page {
    margin: 0;
    
}

@media print {

    .middle {
        background-color: red;
        padding-top: 50px;
    }
}
